.box-one{
    padding: 1px;
    text-align: center;
    position:static;
    background-color: #b8e9e4;
    border: 2px groove #336963;
    border-radius: 5px;
    width: 100px;
}

.box-two{
    padding: 1em;
    position:static;
    background-color: #b8e9e4;
    margin: auto;
    width: fit-content;
}
 ul{
    list-style-type: none;
 }

/* Grid layout in mobile view*/
@media screen and (min-width: 760px) {
    img {
        max-width: 100%;
        text-align: left;
    }
    .grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 20% 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "item1 item2"
        "item3 item4"
        "item5 item5";
    justify-content: center;
    }
.item1 {
    grid-area: item1;
    padding: 20px 20px 20px 60px
    }
.item2 {
    grid-area: item2;
    padding: 60px 20px 0px 20px;
    }
.item3 {
    grid-area: item3;
   justify-self: center;
   padding-left: 10px;
    }
.item4 {
    grid-area: item4;
    justify-self: left;
    padding-left: 20px;
    }
    .item5 {
        grid-area: item5;
        justify-self: left;
        padding: 10px 0px 10px 20px;
        }
}

/* Grid layout in desktop view*/
@media screen and (max-width: 759px){
    .grid {
        display: grid;
        grid-gap: 1em;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "item1"
            "item3"
            "item2"
            "item4"
            "item5";
           }

    .item1 {
        grid-area: item1;
        justify-self: center;
        padding-left: 10px;
      }
       
    .item2{
        grid-area: item2;
        padding-left: 10px;
       
        }
    .item3 {
        grid-area: item3;
        justify-self: center;
           }
    .item4 {
      grid-area: item4;
      justify-self: center;
      padding-left: 10px;
    }
    .item5 {
        grid-area: item5;
        justify-self: center;
        padding-left: 10px;
          }
        }      