@font-face{
    font-family: 'Modak';
    src: url("https://fonts.googleapis.com");
}

*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
color: black;
}

.box-one{
    padding: 1px;
    text-align: center;
    position:static;
    background-color: #b8e9e4;
    border: 2px groove #336963;
    border-radius: 5px;
    width: 100px;
    text-decoration: none;
}

.box-two{
    padding: 1em;
    position:static;
    background-color: #b8e9e4;
    margin: auto;
    width: fit-content;
    border: 2px groove #336963;
    border-radius: 5px;
}
 ul{
    list-style-type: none;
 }
 blockquote{
    font-family: 'Modak', cursive;
 }

/* Grid layout in desktop view*/
@media screen and (min-width: 760px) {
    .grid {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 30% 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "item1 item2"
        "item3 item4"
        "item5 item5";
    justify-content: center;
    }
.item1 {
    grid-area: item1;
    padding: 20px 20px 0px 60px
    }
.item2 {
    grid-area: item2;
    padding: 60px 20px 0px 0px;
    width: 90%;
    height:fit-content ;
    }
.item3 {
    grid-area: item3;
   justify-self: center;
   padding-left: 10px;
    }
.item4 {
    grid-area: item4;
    justify-self: left;
    padding-left: 20px;
    }
    .item5 {
        grid-area: item5;
        justify-self: left;
        padding: 10px 0px 10px 20px;
        font-family: 'Josefins Sans', sans-serif;
        }
}

/* Grid layout in mobile view*/
@media screen and (max-width: 759px){
    .grid {
        display: grid;
        grid-gap: 1em;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "item1"
            "item3"
            "item2"
            "item4"
            "item5";
            justify-content: center;
            width: 90%;
           }

    .item1 {
        grid-area: item1;
        padding: 1em 1em 0px 5em;
        
      }
       
    .item2{
        grid-area: item2;
        padding-left: 1em;
       
        }
    .item3 {
        grid-area: item3;
        justify-self: center;
           }
    .item4 {
      grid-area: item4;
      justify-self: center;
      padding-left: 1em;
    }
    .item5 {
        grid-area: item5;
        justify-self: center;
        padding-left: 1em;
          }
        }      

.container{
    margin: 20px 20px 20px 20px;
    display: grid;
    grid-gap: 2em;
    grid-template-columns: 80%;
    grid-template-rows: auto;
    grid-template-areas: 
        "item1-home"
        "item2-home" 
        "item3-home";
    justify-content: center;
    padding: 10px 10px 10px 10px;
}        

.item1-home{
    width: 100%;
}

.item2-home{
    width: 100%;
    float: left;
}

.item3-home{
    width: 100%;
    float: left;
}


@media screen and (max-width: 959px) {
    .container{
        width: 100%;
    }
    .item1-home{
        width: 100%;
    }
    .item2-home{
        width: 100%;
    }
    .item3-home{
        width: 100%;
    }
}

@media screen and (max-width: 640px) {
    .container{
        width: 100%;
    }
        .item1-home{
            width: 100%;
        }
        .item2-home{
            width: 100%;
        }
        .item3-home{
            width: 100%;
        }
}
@media screen and (max-width: 320px) {
    .container{
        width: 290px;
    }
    .box-two{
        padding: 1em;
        position:static;
        background-color: #b8e9e4;
        margin: auto;
        width: 290px;
        border: 2px groove #336963;
        border-radius: 5px;
}
}

/* Print stylesheet*/
@media print{
*{
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
    font-family:'Times New Roman', Times, serif
}
nav{
    display: none;
}
header{
    margin-bottom: 0px;
    text-align: center;
    border: none;
}
blockquote{
    font-family: 'Modak', cursive;
}
.item1{
    width: 50%;
    height: 50%;   
}
@page{ 
    margin: 1in;
}
}
